@use './mixins.scss' as mixins;
@use './variables.scss' as vars;

html,
body {
  height: 100%;
  background-color: vars.$color-black;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}
