.card {
  min-width: 23rem;
  max-width: 52rem;
}

.lower-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-end;
}

.description {
  text-align: justify;
  text-indent: 2rem;
}
