@use "../../styles/mixins" as mix;

.sign-up {
  @include mix.sign-page;

  &_container {
    max-width: 29.5rem;
  }

  &_title {
    margin-bottom: 0.9rem;
    font-size: 2.2rem;

    @media (width <= 800px) and (width >= 530px) {
      font-size: 1.8rem;
    }

    @media (width <= 529px) {
      margin-bottom: 0.4rem;
      font-size: 1.2rem;
    }
  }

  &_text {
    margin-bottom: 2rem;
    font-size: 1rem;

    @media (width <= 529px) {
      margin-bottom: 1.5rem;
      font-size: 0.7rem;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &_button {
    align-self: center;
  }
}
