@use "../../styles/mixins" as mix;

.sign-in {
  @include mix.sign-page;

  &_container {
    max-width: 29.5rem;
  }

  &_title {
    margin-bottom: 3rem;
    font-size: 2rem;

    @media (width <= 800px) and (width >= 530px) {
      font-size: 1.8rem;
    }

    @media (width <= 560px) {
      margin-bottom: 0.2rem;
      font-size: 1.2rem;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_buttons-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      align-self: center;

      @media (width <= 609px) {
        margin-top: 1rem;
      }
    }

    @media (width <= 950px) and (width >= 610px) {
      max-width: 60%;
    }

    @media (width <= 609px) {
      gap: 0.5rem;
      max-width: 90%;
    }
  }
}
