.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.piece {
  cursor: pointer;
  inline-size: 92%;
  block-size: 92%;
  line-height: 1;
  object-fit: contain;
}

.is-empty .piece {
  display: none; // фигура скрыта, если её нет
}
