$border-radius: 4px;
$color-white: #fff;
$color-white2: #efefef;
$text-color: #929292;
$card-text-color: #c0c0c0;
$color-gray: #e5e5e5;
$color-gray2: #818181;
$color-gray3: #5b5b5b;
$color-gray4: #929290;
$color-edit-gray: #495963;
$color-black: #000;
$color-black2: #343434;
$color-black-blue: #0e1d3e;
$color-blue: #191970;
$color-blue1: #2e86c1;
$color-blue2: #273b8d;
$color-blue3: #b6d0e2;
$color-yellow: #ffea00;
$color-red: #cd5c5c;
