@use "variables" as vars;

.game-wrapper {
  display: grid;
  grid-column: 1 / -1; /* занять все 12 колонок Taiga */
  grid-template-columns:
    minmax(0, 1fr)
    minmax(vars.$board-wrap-min, vars.$board-wrap-width)
    minmax(vars.$panel-min, vars.$panel-width)
    minmax(0, 1fr);
  gap: 1rem;
  align-items: stretch;
  inline-size: 100%;

  // min-height: calc(100vh - 48px);
  padding-top: 20px;
  padding-bottom: 20px;
}

.game-settings {
  align-self: stretch;
  border: 2px solid var(--tui-background-accent-2);
  background-color: var(--tui-background-neutral-2-pressed);
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-extra-left,
.game-extra-right {
  overflow: hidden;
  transition: all 0.3s ease;
}

@media (width <= 768px) {
  .game-extra-left,
  .game-extra-right {
    display: none;
  }

  .game-wrapper {
    grid-auto-rows: auto 1fr; /* доска по контенту + панель добирает остаток */
    grid-template-columns: 1fr;
    gap: 0.5rem;
    align-content: start;

    // min-height: auto;
    align-items: start;
    min-height: calc(100dvh - 48px);
  }

  .game-board {
    place-self: start stretch;
    min-inline-size: 0;
  }

  .game-settings {
    align-self: stretch;
  }
}
